<ion-header>
  <ion-toolbar>
    <ion-title>
      RSS 기본 템플릿 앱
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>시작하는 방법</ion-card-subtitle>
      <ion-card-title>RSS 기본 템플릿 앱</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        본 앱은 탭과 사이드 메뉴, 그리고 RSS 를 포함하는 기본 앱입니다.
        만약, 새로운 앱을 만들려고 한다면, 이 앱의 github master branch 를 새로운 branch 로 만들어서 작업하면 됩니다.
      </p>
      <p>
        각 branch 를 작업 할 때, branch-name-release 와 같이 끝애 `-release` 가 붙으면 그 branch 는 실제로 릴리스가 되는 branch 입니다.

        따라서 작업이 끝나면, `branch-name-release` 로 push 하시면 됩니다.
        
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>퀵 메뉴</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>홈페이지 열기 - www.evieco.shop</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>페이스북 열기</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>연락처</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>찾아 오는 길</ion-label>
    </ion-item>
  </ion-list>
</ion-content>